.env

# General folder/file configurations
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?

# Thumbnails and resource forks
._*

# Files that may appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories used by AppleTalk/AppleShare
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
