main {
    gap: 40px;
    justify-content: center;
}

h1 {
    font-size: 1.3rem;
}

button {
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--secondary-color);
    padding: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: white;
    transform: scale(1.1);
}

#minigames-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;  
    align-items: center;
    /* flex: 1; // will maybe re-add it later */
    padding: 20px;
    margin-top: 20px;
}

.minigame {
    background-color: var(--primary-color);
    color: var(--background-color);
    width: clamp(275px, 40vw, 350px);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
}

.minigame:hover {
    transform: scale(1.1);
}

.preview-container {
    width: 80%;
}

.preview {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

@media (min-width: 650px) {
    #minigames-collection {
        flex-direction: row;
        flex-wrap: wrap;
    }
}