header {
    grid-template-columns: 1fr 1fr;
}

#minigame-container {
    width: clamp(50px, 80vw, 850px);
    height: clamp(300px, 60vh, 450px);
    cursor: pointer;
}

#minigame-container p {
    cursor: pointer;
}

#info-span {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

/* #region: two-player-stats */

#players-scores {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    margin-bottom: 40px;
}

hr {
    width: 100%;
    display: inline-block;
    grid-column: 1/-1;
    height: 5px;
    background-color: black;
    border: none;
    border-radius: 20px;
}

/* #endregion */
