:root {
    font-size: clamp(25px, 5vw, 35px);
    font-family: Arial, Helvetica, sans-serif;
    --text-color: #1c0201;
    --background-color: #f4d0cd;
    --primary-color: #d62f29;
    --secondary-color: #87c5e8;
    --on-secondary-action: #4c90be;
    --accent-color: #4191f6;

    /*
    --color-1: #6eeb83;
    --color-2: #a8d5e2;
    --color-3: #caf1f5;
    --color-4: #0DAC30;
    */
}

* {
    box-sizing: border-box;
    margin: 0;
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    color: var(--primary-color, black);
}

h1, h2 {
    text-align: center;
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
/* #region: header */
header {
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 100%;
    padding: 10px clamp(0px, 1vw, 20px);
    display: grid;
    align-items: center;
}

#change-gamemode, #select-mode {
    border-radius: 20px;
    font-size: 0.7rem;
    color: var(--text-color);
    border: 1px solid gray;
}

#change-gamemode:hover, #select-mode:hover {
    background-color: white;
    transform: scale(1.05);
}

#change-gamemode {
    justify-self: flex-start;
    position: relative;
    z-index: 2;
    width: clamp(20px, 10vw, 30px);
    height: clamp(17px, 8vw, 27px);
    overflow-y: hidden;
    padding: 2px;
    background-color: #f4d0cd;

}

#select-mode {
    width: clamp(50px, 20vw, 180px);
    background-color: var(--background-color);
    justify-self: end;
}

/* #endregion */

/* minigame-styles */
#app-container {
    flex: 1;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition: filter 0.3s ease;
}

#scoreboard {
    width: clamp(30px, 80vw, 330px);
    font-size: 0.8rem;
    display: grid;
    grid-template-columns:  2fr 1fr;
    gap: 5%;
    justify-items: center;
    align-items: center;
}

#minigame-container {
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    user-select: none;
}

.blurred {
    filter: blur(4px);
}


/* #region: select-gamemode-container */
#screen-overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    margin: auto;
    pointer-events: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s ease;
}

#mode-selector-container {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;

    background-color: var(--primary-color);
    color: var(--background-color);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mode-selector {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

#mode-selector button {
    width: clamp(20px, 30vw, 150px);
    height: clamp(20px, 30vw, 150px);
    background-color: var(--background-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow-y: hidden;
    transition: all 0.3s ease;
}
#mode-selector button:hover {
    transform: scale(1.03);
    color: black;
    background-color: white;
}

#mode-selector button img {
    object-fit: fill;
}

/* #endregion */

#winner-dialog {
    width: fit-content;
    height: fit-content;
    padding: 40px 50px;
    border-radius: 20px;
    margin: auto;
    position: relative;

    background-color: var(--background-color);
    border: 5px solid black;
    color: var(--text-color);

    display: none;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}


#stats {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 5%;
    justify-items: center;
    align-items: center;
}

#stats p {
    display: inline-block;
    text-align: center;
}


#close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 6px;
    border-radius: 0 0 0 10px;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#close:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    :root {
    font-size: clamp(25px, 5vw, 35px);
    font-family: Arial, Helvetica, sans-serif;
    --text-color: #f3eeee;
    --background-color: #791612;
    --primary-color: #d59f9f;
    --secondary-color: #1754a0;
    --on-secondary-action: #d34949;
    --accent-color: #4191f6;
    }

    #mode-selector button {
        background-color: transparent;
    }

    button:hover {
        color: black;
    }

    #select-mode:hover {
        color: black;
    }
}